/*FARVER OG FONTE*/
:root {
  /* Farver */

  --grey-background: #f7f7f7; /*background-color*/
  --green-mint: #a8e6cf; /*Mint-green background*/
  --green-kaki: #6b7a4c; /**/
  --green-forest: #2e4a3d; /*Header-color*/
  --green-salvie: #b7c9a9;
  --green-lime: #a3ff00;
  --white: white;
}

h1 {
  /* font-family: var(--font-overskrift); */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 20px;
  color: var(--green-forest);
  list-style: none;
}

h2,
h3 {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 20px;
  color: black;
  list-style: none;
}

a,
p {
  color: black;
  text-decoration: none;
}

/*Generelle regler*/

/* GENERALLE REGLER */

* body {
  background-color: var(--grey-background); /*backgrounds*/
  color: sort; /*tekst*/
}

/* Menu-header navigation */

.header_menu {
  background-color: var(--green-salvie);

  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  margin: 0 auto;
  position: sticky;
  padding: 20px 0 20px 0;
}

.header_menu a {
  color: sort;
  font-weight: bold;
  margin: 0 10px;
}

.header_menu a:hover {
  filter: opacity(70%);
}

.nav a {
  background-color: var(--green-salvie);
}

.center_h1 {
  text-align: center;
}

footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

footer .a {
  text-decoration: none;
  color: #000;
}

footer ul {
  list-style: none;
}
