* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

/********** Forside, kategorier *********/
/* 
.grid_kategori {
  background-color: var(--green-mint);
} */

.category_in_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

  gap: 50px;
  padding: 50px 20px 50px 20px;

  margin: 0 auto;

  background-color: var(--grey-background);
}

/*Styling på nye JS-kategorier*/

.img_box {
  justify-content: center;

  padding: 50px 70px 50px 70px;
  margin: 0 auto;

  background-color: var(--green-salvie);
  border-radius: 5px;
  box-shadow: 2px 1px 3px 1px var(--green-forest);

  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.img_box:hover {
  filter: opacity(50%);
}

/* .category_in_list img {
  width: 200px;
  height: auto;
}

.grid_kategori a:hover {
  filter: opacity(70%);
}

.category_in_list h2 {
  background-color: var(--green-salvie);
}
 */

/******** Produkter i kategori***********/

.grid_productlist {
  background-color: var(--green-salvie);
}

.products_in_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /*  grid-row: 3 span; */

  gap: 5px;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
  max-width: fit-content;
}

.grid_productlist img {
  width: 200px;
  height: auto;
}

.products_in_list a:hover {
  filter: opacity(70%);
}

/* Label sold out */

/* .img_box3 .soldout {
  color: red;

  position: absolute;
  z-index: 10;

  padding-top: 60px;
} */

.img_box3 img {
  filter: opacity(50%);
}

.grid_productlist article {
  position: relative;
}

/*Alans kode sold out*/
.grid_productlist article.soldOut::before {
  content: "Sold Out";
  position: absolute;
  background: white;
  color: black;
  padding: 1rem;
  font-weight: bold;
  z-index: 10;
  margin-top: 60px; /*HJÆÆÆÆÆÆÆLP TIL PLACERING*/
}

/* Discounted*/

.discounted {
  color: rgb(36, 42, 38);
}

.discounted p:last-child {
  background: var(--green-lime);
  padding: 8px;

  display: inline-block;
  border-radius: 5px;
  padding: 5px;
}

/* Produktet-beskrivelse*/

.product_desc {
  background-color: var(--green-salvie);

  display: grid;
  grid-template-columns: 2fr 1fr;
}

.product_desc img {
  width: 400px;
  height: auto;
  padding: 20px 0 20px 10px;
}

/* Knapper */

.btn_back {
  display: inline-block;
  background-color: var(--green-mint);

  border-radius: 10px;
  padding: 0.4rem 1rem;
  margin-top: 20px;
  margin-bottom: 20px;
  width: max-content;
}

.btn_add {
  background: var(--green-mint);
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0 20px 0;

  font-weight: bold;
}

/***** MEDIA-QUEREY ******/

@media (max-width: 800px) {
  .products_in_list {
    grid-template-columns: 1fr 1fr; /* 2 kolonner på mobil */
  }

  .grid_productlist article.soldOut::before {
    top: 0.5rem;
    left: 0.5rem;
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
  }
}
